version: '3.4'

services:
  app:
    build:
      context: ../
    environment:
      DATABASE_NAME: article-store
      DATABASE_USER: user
      DATABASE_PASSWORD: secret
      DATABASE_HOST: db
      DATABASE_PORT: 5432
    ports:
      - '8080:8080'
    depends_on:
      - db
  console:
    image: tpluscode/hypermedia-app:version-0.12.2
    environment:
      API_ENTRYPOINTS: '{ "http://localhost:8080/": "Article Store" }'
      BASE_URL: http://localhost:8080/
    ports:
      - '8081:8000'
    healthcheck:
      test: wget --quiet --tries=1 --spider http://localhost:8000/ || exit 1
      interval: 5s
      timeout: 1s
    depends_on:
      - app
  db:
    image: postgres:11.5-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: article-store
    ports:
      - '5432:5432'
    healthcheck:
      test: ['CMD', 'pg_isread', '--username', "user", '--dbnam', 'article-store']
      interval: 5s
