name: CI

on: [push, pull_request]

#[10:02:05][giorgio@Newton:~/code/article-store]$ docker save -o article-store.master-dev libero/article-store:master-dev
#[10:02:35][giorgio@Newton:~/code/article-store]$ ls -l article-store.master-dev
#-rw------- 1 giorgio giorgio 213813248 Dec  3 10:02 article-store.master-dev
#[10:02:45][giorgio@Newton:~/code/article-store]$ docker load -i article-store.master-dev

env:
  IMAGE_TAG: ${{ github.sha }}

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Build Docker images
      run: |
        set -e
        TARGET=prod make build
        TARGET=dev make build
        docker save -o article-store.dev libero/article-store:${IMAGE_TAG}

    - name: Upload Docker image artifact
      uses: actions/upload-artifact@v1
      with:
        name: docker-image
        path: article-store.dev

    - name: Lint
      run: make lint
      if: always()

    - name: Test
      run: make test
      if: always()

    - name: Smoke tests
      run: |
        set -e
        TARGET=prod .travis/smoke-test.sh
        TARGET=dev .travis/smoke-test.sh
      if: always()


  analyse:

    needs: build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Download Docker image artifact
      uses: actions/download-artifact@v1
      with:
        name: docker-image

    - name: Analyse
      run: |
        set -e
        ls -l docker-image
        docker load -i docker-image/article-store.dev
        .travis/analyse.sh
